#brand-logo {
  font-size: 34px;
}

#app-navbar {
  background: linear-gradient(120deg, #00e4d0, #5983e8);
}

.rounded-circle {
  object-fit: cover;
}

.navbar-nav {
  color: #fff;
}

#photographytxt {
  color: inherit;
  text-decoration: inherit;
}

iframe {
  margin: 2.3vh;
}

